* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: rgb(221, 223, 225);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scrollbar-width: 100vw;
}

header {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
    color: white;
}

header img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.icono-suelo {
    width: 15vw;
    height: 25vh;
}

header div {
    display: flex;
    justify-content: center;
}

/*
header nav{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column-gap: 1vw;
    grid-template-rows: repeat(1,50px);
    background-color: rgb(226, 178, 6);
    border: solid rgba(2, 2, 2, 0.9);
    justify-content: center;
    padding: 1vh;
    padding: 1vw;
    grid-template-areas: "nav-header__nosotros nav-header__ubicacion nav-header__contacto nav-header__cuenta";
}

.nav-header__nosotros{
    display: flex;
    font-weight: bolder;
    align-items: center;
    grid-area: nav-header__nosotros;
}
.nav-header__ubicacion{
    display: flex;
    font-weight: bolder;
    align-items: center;
    grid-area: nav-header__ubicacion;
}
.nav-header__contacto{
    display: flex;
    font-weight: bolder;
    align-items: center;
    grid-area: nav-header__contacto;
}
.nav-header__cuenta{
    display: flex;
    font-weight: bolder;
    align-items: center;
    grid-area: nav-header__cuenta;
}
header div{
    display: flex;
    flex-wrap:wrap ;
}
.nav-header a{
    display: flex;
}

*/



.grid-item div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container {
    margin-top: 50px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(2, fr);
    grid-template-areas:
        "grid-item grid-item__aside"
        "grid-item ."
}

.grid-item {
    grid-area: grid-item;
}

.grid-item__articulo {
    width: 21vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 5%;
    margin: 1vw;
}

.grid-item__articulo:hover {
    background-color: rgba(255, 247, 85, 1);
    color: rgb(0, 0, 0)
}

.grid-item__articulo button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.grid-item__articulo img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 19vw;
    height: 29vh;
}

.grid-item__aside {
    display: flexbox;
    grid-area: grid-item__aside;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    border-color: #3a86ff;
    padding-bottom: 50px;
    margin-right: 1vw;
    ;
}

main {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    margin-top: 1%;
    justify-content: space-around;
    padding: 2vw;
    text-align: center;
    font-style: normal;
    font-size: 2rem;
}

main li {
    list-style: none;
}

main .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

main .card-body .card-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

main .card-title:hover {
    color: #3a86ff
}

main img {
    border: solid black 2px;
}

aside:hover {
    background-color: #3a85ffa1;
    color: white;
}

aside h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1vw;
}

aside h4 {
    font-size: 1.3rem;
}

aside li {
    font-size: 0.8rem;
    display: block;
    margin: 5px;
    text-align: start;
    padding-left: 0.1vw;
    justify-items: start;
}

aside ul {
    text-align: start;
    margin-left: 0.2vw;
}


.titulo-pag {
    display: block;
    text-align: center;
    font-size: 3rem;
}

#location {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.flex-item__contacto {
    width: 30vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.form-contact-compra {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin-left: 1vw;
}

.carrito__compra {
    display: grid;
    justify-content: flex-start;
    width: 40%;
    margin-bottom: 2vh;
    margin-left: 2vw;
}

.grid-container__nosotros {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 90px 500px repeat(2, 100px);
    grid-template-areas:
        "grid-item_1 grid-item_1 grid-item_1 grid-item_1"
        "grid-item_2 grid-item_2 grid-item_2 grid-item_2"
        "grid-item_7 grid-item_7 grid-item_7 grid-item_7"
        "grid-item_8 grid-item_8 grid-item_8 grid-item_8";
}

.grid-item_1 {
    grid-area: grid-item_1;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.grid-item_2 {
    grid-area: grid-item_2;
    text-align: center;
}

.grid-item_7 {
    grid-area: grid-item_7;
    text-align: start;
}

.grid-item_8 {
    grid-area: grid-item_8;
    padding: 0px 50px;
}


footer {
    width: 100vw;
    display: block;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #2e86d39e 45%);
    margin-top: 5vh;
}

footer h2 {
    display: block;
    color: rgb(255, 255, 255);
    border: solid black black none black 2px;
    background-color: rgba(35, 129, 206, 0);
    text-align: center;
}

footer h3 {
    margin-bottom: 1vh;
}

footer p {
    text-align: center;
}

footer li {
    display: block;
    list-style: none;

}

.flex-container {
    display: flex;
    width: 100vw;
    padding-left: 1%;

}

.flex-item__web {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.flex-item__contact {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    margin-top: 1vh;
    margin-right: 1vw;
    text-align: end;
    width: 30vw;
}

.flex-item__icono {
    display: block;
    width: 40vw;
}

.flex-item__icono img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.flex-item__redes {
    width: fit-content;
    margin-bottom: 1vh
}

footer p {
    text-align: center;
    padding-bottom: 1vh;
}



/*VISTA 1023PX*/

@media screen and (max-width: 1023px) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: rgb(221, 223, 225);
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        scrollbar-width: 100vw;
    }

    header {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
        color: white;
    }

    header img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .icono-suelo {
        width: 15vw;
        height: 20vh;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    /*
    .header nav{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-column-gap: 5px;
        grid-template-rows: repeat(1,50px);
        background-color: rgb(226, 178, 6);
        column-gap: 2vw;
        border: solid rgba(2, 2, 2, 0.9);
        justify-content: center;
        padding: 2vh;
        padding: 2vw;
        grid-template-areas: "nav-header__nosotros nav-header__ubicacion nav-header__contacto nav-header__cuenta";
    }
    .nav-header__nosotros{
        display: flex;
        font-size: small;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__nosotros;
    }
    .nav-header__ubicacion{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__ubicacion;
    }
    .nav-header__contacto{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__contacto;
    }
    .nav-header__cuenta{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__cuenta;
    }
    header div{
        display: flex;
    }
    .nav-header a{
        display: flex;
    }
    */

    .grid-item div {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(3, fr);
        grid-template-areas:
            "grid-item grid-item__aside"
            "grid-item ."
            "grid-item ."
    }

    .grid-item {
        grid-area: grid-item;
    }

    .grid-item__articulo h5 {

        font-size: 1rem;
        font-weight: bolder;
    }

    .grid-item__articulo p {
        font-size: 0.8rem;
    }

    .grid-item__articulo {
        width: 30vw;
    }

    .grid-item .grid-item__articulo img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 25vh;
    }

    img .card-img-top {
        width: 500v;
    }

    .grid-item__aside {
        display: flexbox;
        grid-area: grid-item__aside;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        border-color: #3a86ff;
        padding-bottom: 2vh;
        margin-right: 1vw;
        ;
    }

    main img {
        height: 100vh;
        ;
    }

    main {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        margin-top: 1%;
        justify-content: space-around;
        padding: 2vw;
        text-align: center;
        font-style: normal;
        font-size: 1.5rem;
    }

    main li {
        list-style: none;
    }

    main .card-title {
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    main h4 {
        font-size: 2rem;
        color: rgb(0, 0, 0);
        padding-bottom: 1vh;
        border: 4px solid black;
        background-color: rgb(255, 255, 255)
    }

    div main h4:hover {
        background-color: rgb(0, 0, 0);
        color: white;
    }


    aside h3 {
        font-size: 0.8rem;
        font-weight: bolder;
        padding: 1vw;
    }

    aside h4 {
        font-size: 0.8rem;
    }

    aside h5 {
        font-size: 0.8rem;
    }

    aside li {
        display: block;
        margin: 5px;
        text-align: start;
        padding-left: 0.1vw;
        justify-items: start;
        font-size: 0.6rem;
    }

    li {
        font-size: 0.7rem;
    }

    aside ul {
        text-align: start;
        margin-left: 0.2vw;
    }

    aside button .btn.btn-secondary {
        font-size: 0.2rem;
    }

    aside p {
        padding-top: 2vh;
    }

    .form-contact-compra {
        font-size: 1rem;
    }

    .titulo-pag {
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }


    #location {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }


    .formulario__contacto {
        display: flex;
        width: 30vw;
        justify-content: center;
        padding-left: 2vw;
        margin-bottom: 2vh
    }

    fieldset label {
        display: block;
        width: 25vw;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-left: 1vw;
    }

    fieldset textarea {
        margin-left: 2vw;
    }

    fieldset input {
        margin-left: 2vw;
    }

    .flex-item__contacto {
        width: 30vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    div .boton {
        display: block;
        justify-content: center;
        margin: auto;
    }

    .carrito__compra {
        display: grid;
        justify-content: flex-start;
        width: 40%;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    .grid-container__nosotros {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 90px 500px repeat(2, 100px);
        grid-template-areas:
            "grid-item_1 grid-item_1 grid-item_1 grid-item_1"
            "grid-item_2 grid-item_2 grid-item_2 grid-item_2"
            "grid-item_7 grid-item_7 grid-item_7 grid-item_7"
            "grid-item_8 grid-item_8 grid-item_8 grid-item_8";
    }

    .grid-item_1 {
        grid-area: grid-item_1;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .grid-item_2 {
        grid-area: grid-item_2;
        text-align: center;
    }

    .grid-item_7 {
        grid-area: grid-item_7;
        text-align: start;
    }

    .grid-item_8 {
        grid-area: grid-item_8;
        padding: 0px 50px;
    }

    footer {
        width: 100vw;
        display: block;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #2e86d39e 45%);
        margin-top: 5vh;
    }

    footer h2 {
        display: block;
        color: rgb(255, 255, 255);
        border: solid black black none black 2px;
        background-color: rgba(35, 129, 206, 0);
        text-align: center;
    }

    footer h3 {
        margin-bottom: 1vh;
    }

    footer p {
        text-align: center;
    }

    .flex-container {
        display: flex;
        width: 100vw;
        padding-left: 1%;

    }

    .flex-item__web {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
    }

    .flex-item__contact {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin-top: 1vh;
        margin-right: 1vw;
        text-align: end;
        width: 30vw;
    }

    .flex-item__icono {
        display: block;
        width: 40vw;
    }

    .flex-item__icono img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }


    .flex-item__redes {
        width: fit-content;
        margin-bottom: 1vh
    }

    footer p {
        text-align: center;
        padding-bottom: 1vh;
    }
}

/* VISTA 768PX*/


@media screen and (max-width: 768px) {

    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: rgb(221, 223, 225);
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        scrollbar-width: 100vw;
    }

    header {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
        color: white;
    }

    header img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .icono-suelo {
        width: 15vw;
        height: 20vh;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    /*
    .header nav{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-column-gap: 5px;
        grid-template-rows: repeat(1,50px);
        background-color: rgb(226, 178, 6);
        column-gap: 2vw;
        border: solid rgba(2, 2, 2, 0.9);
        justify-content: center;
        padding: 2vh;
        padding: 2vw;
        grid-template-areas: "nav-header__nosotros nav-header__ubicacion nav-header__contacto nav-header__cuenta";
    }
    .nav-header__nosotros{
        display: flex;
        font-size: small;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__nosotros;
    }
    .nav-header__ubicacion{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__ubicacion;
    }
    .nav-header__contacto{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__contacto;
    }
    .nav-header__cuenta{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__cuenta;
    }
    header div{
        display: flex;
    }
    .nav-header a{
        display: flex;
    }
    */

    .grid-item div {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(3, fr);
        grid-template-areas:
            "grid-item grid-item__aside"
            "grid-item ."
            "grid-item ."
    }

    .grid-item {
        grid-area: grid-item;
    }

    .grid-item__articulo {
        width: 30vw;
    }

    .grid-item .grid-item__articulo img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 25vh;
    }

    img .card-img-top {
        width: 500v;
    }

    .grid-item__aside {
        display: flexbox;
        grid-area: grid-item__aside;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        border-color: #3a86ff;
        padding-bottom: 2vh;
        margin-right: 1vw;
        ;
    }

    main img {
        height: 100vh;
        ;
    }

    main {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        margin-top: 1%;
        justify-content: space-around;
        padding: 2vw;
        text-align: center;
        font-style: normal;
        font-size: 1.5rem;
    }

    main li {
        list-style: none;
    }

    main .card-title {
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    main .card-text {
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
    }

    aside h3 {
        font-size: 0.8rem;
        font-weight: bolder;
        padding: 1vw;
    }

    aside h4 {
        font-size: 0.8rem;
    }

    aside h5 {
        font-size: 0.8rem;
    }

    aside li {
        display: block;
        margin: 5px;
        text-align: start;
        padding-left: 0.1vw;
        justify-items: start;
        font-size: 0.6rem;
    }

    li {
        font-size: 0.7rem;
    }

    aside ul {
        text-align: start;
        margin-left: 0.2vw;
    }

    aside button .btn.btn-secondary {
        font-size: 0.2rem;
    }

    aside p {
        padding-top: 2vh;
    }

    #location {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .form-contact-compra {
        font-size: 1rem;
    }

    .titulo-pag {
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }

    .formulario__contacto {
        display: flex;
        width: 30vw;
        justify-content: center;
        padding-left: 2vw;
        margin-bottom: 2vh
    }

    fieldset label {
        display: block;
        width: 25vw;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-left: 1vw;
    }

    fieldset textarea {
        margin-left: 2vw;
    }

    fieldset input {
        margin-left: 2vw;
    }

    .flex-item__contacto {
        width: 30vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    div .boton {
        display: block;
        justify-content: center;
        margin: auto;
    }

    .carrito__compra {
        display: grid;
        justify-content: flex-start;
        width: 40%;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    .grid-container__nosotros {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 90px 500px repeat(2, 100px);
        grid-template-areas:
            "grid-item_1 grid-item_1 grid-item_1 grid-item_1"
            "grid-item_2 grid-item_2 grid-item_2 grid-item_2"
            "grid-item_7 grid-item_7 grid-item_7 grid-item_7"
            "grid-item_8 grid-item_8 grid-item_8 grid-item_8";
    }

    .grid-item_1 {
        grid-area: grid-item_1;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .grid-item_2 {
        grid-area: grid-item_2;
        text-align: center;
    }

    .grid-item_7 {
        grid-area: grid-item_7;
        text-align: start;
    }

    .grid-item_8 {
        grid-area: grid-item_8;
        padding: 0px 50px;
    }

    footer {
        width: 100vw;
        display: block;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #2e86d39e 45%);
        margin-top: 5vh;
    }

    footer h2 {
        display: block;
        color: rgb(255, 255, 255);
        border: solid black black none black 2px;
        background-color: rgba(35, 129, 206, 0);
        text-align: center;
    }

    footer h3 {
        margin-bottom: 1vh;
        font-size: 1rem;
    }

    footer p {
        text-align: center;
        font-size: 0.7rem;
    }

    .flex-container {
        display: flex;
        width: 100vw;
        padding-left: 1%;

    }

    .flex-item__web {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
    }

    .flex-item__contact {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin-top: 1vh;
        margin-right: 1vw;
        text-align: end;
        width: 30vw;
    }

    .flex-item__icono {
        display: block;
        width: 40vw;
    }

    .flex-item__icono img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }


    .flex-item__redes {
        font-size: 0.8rem;
        width: fit-content;
        margin-bottom: 1vh
    }

    footer p {
        text-align: center;
        padding-bottom: 1vh;
    }
}




/* VISTA 600*/






@media screen and (max-width: 600px) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: rgb(221, 223, 225);
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        scrollbar-width: 100vw;
    }

    header {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
        color: white;
    }

    header img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .icono-suelo {
        width: 15vw;
        height: 20vh;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    /*
    .header nav{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-column-gap: 5px;
        grid-template-rows: repeat(1,50px);
        background-color: rgb(226, 178, 6);
        column-gap: 2vw;
        border: solid rgba(2, 2, 2, 0.9);
        justify-content: center;
        padding: 2vh;
        padding: 2vw;
        grid-template-areas: "nav-header__nosotros nav-header__ubicacion nav-header__contacto nav-header__cuenta";
    }
    .nav-header__nosotros{
        display: flex;
        font-size: small;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__nosotros;
    }
    .nav-header__ubicacion{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__ubicacion;
    }
    .nav-header__contacto{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__contacto;
    }
    .nav-header__cuenta{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__cuenta;
    }
    header div{
        display: flex;
    }
    .nav-header a{
        display: flex;
    }
    */

    .grid-item div {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(3, fr);
        grid-template-areas:
            "grid-item grid-item__aside"
            "grid-item ."
            "grid-item ."
    }

    .grid-item {
        grid-area: grid-item;
    }

    .grid-item__articulo h5 {

        font-size: 1rem;
        font-weight: bolder;
    }

    .grid-item__articulo p {
        font-size: 0.8rem;
    }

    .grid-item__articulo {
        width: 30vw;
    }

    .grid-item .grid-item__articulo img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 25vh;
    }

    img .card-img-top {
        width: 500v;
    }

    .grid-item__aside {
        display: flexbox;
        grid-area: grid-item__aside;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        border-color: #3a86ff;
        padding-bottom: 2vh;
        margin-right: 1vw;
        ;
    }

    main img {
        height: 100vh;
        ;
    }

    main {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        margin-top: 1%;
        justify-content: space-around;
        padding: 2vw;
        text-align: center;
        font-style: normal;
        font-size: 1.5rem;
    }

    main li {
        list-style: none;
    }

    main .card-title {
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    main h4 {
        font-size: 2rem;
        color: rgb(0, 0, 0);
        padding-bottom: 1vh;
        border: 4px solid black;
        background-color: rgb(255, 255, 255)
    }

    div main h4:hover {
        background-color: rgb(0, 0, 0);
        color: white;
    }


    aside h3 {
        font-size: 0.8rem;
        font-weight: bolder;
        padding: 1vw;
    }

    aside h4 {
        font-size: 0.8rem;
    }

    aside h5 {
        font-size: 0.8rem;
    }

    aside li {
        display: block;
        margin: 5px;
        text-align: start;
        padding-left: 0.1vw;
        justify-items: start;
        font-size: 0.6rem;
    }

    li {
        font-size: 0.7rem;
    }

    aside ul {
        text-align: start;
        margin-left: 0.2vw;
    }

    aside button .btn.btn-secondary {
        font-size: 0.2rem;
    }

    aside p {
        padding-top: 2vh;
    }


    #location {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .form-contact-compra {
        font-size: 1rem;
    }

    .titulo-pag {
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }


    fieldset label {
        display: block;
        width: 25vw;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-left: 1vw;
    }

    fieldset textarea {
        margin-left: 2vw;
    }

    fieldset input {
        margin-left: 2vw;
    }

    .flex-item__contacto {
        width: 30vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    div .boton {
        display: block;
        justify-content: center;
        margin: auto;
    }

    .carrito__compra {
        display: grid;
        justify-content: flex-start;
        width: 40%;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    .grid-container__nosotros {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 90px 500px repeat(2, 100px);
        grid-template-areas:
            "grid-item_1 grid-item_1 grid-item_1 grid-item_1"
            "grid-item_2 grid-item_2 grid-item_2 grid-item_2"
            "grid-item_7 grid-item_7 grid-item_7 grid-item_7"
            "grid-item_8 grid-item_8 grid-item_8 grid-item_8";
    }

    .grid-item_1 {
        grid-area: grid-item_1;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .grid-item_2 {
        grid-area: grid-item_2;
        text-align: center;
    }

    .grid-item_7 {
        grid-area: grid-item_7;
        text-align: start;
    }

    .grid-item_8 {
        grid-area: grid-item_8;
        padding: 0px 50px;
    }

    footer {
        width: 100vw;
        display: block;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #2e86d39e 45%);
        margin-top: 5vh;
    }

    footer h2 {
        display: block;
        color: rgb(255, 255, 255);
        border: solid black black none black 2px;
        background-color: rgba(35, 129, 206, 0);
        text-align: center;
    }

    footer h3 {
        margin-bottom: 1vh;
    }

    footer p {
        text-align: center;
    }

    .flex-container {
        display: flex;
        width: 100vw;
        padding-left: 1%;

    }

    .flex-item__web {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
    }

    .flex-item__contact {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin-top: 1vh;
        margin-right: 1vw;
        text-align: end;
        width: 30vw;
    }

    .flex-item__icono {
        display: block;
        width: 40vw;
    }

    .flex-item__icono img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-item__redes {
        width: fit-content;
        margin-bottom: 1vh
    }

    footer p {
        text-align: center;
        padding-bottom: 1vh;
    }
}







/*  VISTA 425PX*/





@media screen and (max-width: 420px) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: rgb(221, 223, 225);
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        scrollbar-width: 100vw;
    }

    header {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
        color: white;
    }

    header img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .icono-suelo {
        width: 15vw;
        height: 20vh;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    /*
    .header nav{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-column-gap: 5px;
        grid-template-rows: repeat(1,50px);
        background-color: rgb(226, 178, 6);
        column-gap: 2vw;
        border: solid rgba(2, 2, 2, 0.9);
        justify-content: center;
        padding: 2vh;
        padding: 2vw;
        grid-template-areas: "nav-header__nosotros nav-header__ubicacion nav-header__contacto nav-header__cuenta";
    }
    .nav-header__nosotros{
        display: flex;
        font-size: small;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__nosotros;
    }
    .nav-header__ubicacion{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__ubicacion;
    }
    .nav-header__contacto{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__contacto;
    }
    .nav-header__cuenta{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__cuenta;
    }
    header div{
        display: flex;
    }
    .nav-header a{
        display: flex;
    }
    */

    .grid-item div {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(3, fr);
        grid-template-areas:
            "grid-item grid-item__aside"
            "grid-item ."
            "grid-item ."
    }

    .grid-item {
        grid-area: grid-item;
    }

    .grid-item__articulo h5 {

        font-size: 1rem;
        font-weight: bolder;
    }

    .grid-item__articulo p {
        font-size: 0.8rem;
    }

    .grid-item__articulo {
        width: 30vw;
    }

    .grid-item .grid-item__articulo img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 25vh;
    }

    img .card-img-top {
        width: 500v;
    }

    .grid-item__aside {
        display: flexbox;
        grid-area: grid-item__aside;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        border-color: #3a86ff;
        padding-bottom: 2vh;
        margin-right: 1vw;
        ;
    }

    main img {
        height: 100vh;
        ;
    }

    main {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        margin-top: 1%;
        justify-content: space-around;
        padding: 2vw;
        text-align: center;
        font-style: normal;
        font-size: 1.5rem;
    }

    main li {
        list-style: none;
    }

    main .card-title {
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    main h4 {
        font-size: 2rem;
        color: rgb(0, 0, 0);
        padding-bottom: 1vh;
        border: 4px solid black;
        background-color: rgb(255, 255, 255)
    }

    div main h4:hover {
        background-color: rgb(0, 0, 0);
        color: white;
    }


    aside h3 {
        font-size: 0.8rem;
        font-weight: bolder;
        padding: 1vw;
    }

    aside h4 {
        font-size: 0.8rem;
    }

    aside h5 {
        font-size: 0.8rem;
    }

    aside li {
        display: block;
        margin: 5px;
        text-align: start;
        padding-left: 0.1vw;
        justify-items: start;
        font-size: 0.6rem;
    }

    li {
        font-size: 0.7rem;
    }

    aside ul {
        text-align: start;
        margin-left: 0.2vw;
    }

    aside button .btn.btn-secondary {
        font-size: 0.2rem;
    }

    aside p {
        padding-top: 2vh;
    }

    .form-contact-compra {
        font-size: 1rem;
    }

    .titulo-pag {
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }


    #location {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    fieldset label {
        display: block;
        width: 25vw;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-left: 1vw;
    }

    fieldset textarea {
        margin-left: 2vw;
    }

    fieldset input {
        margin-left: 2vw;
    }

    .flex-item__contacto {
        width: 30vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .carrito__compra {
        display: grid;
        justify-content: flex-start;
        width: 40%;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    .grid-container__nosotros {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 90px 500px repeat(2, 100px);
        grid-template-areas:
            "grid-item_1 grid-item_1 grid-item_1 grid-item_1"
            "grid-item_2 grid-item_2 grid-item_2 grid-item_2"
            "grid-item_7 grid-item_7 grid-item_7 grid-item_7"
            "grid-item_8 grid-item_8 grid-item_8 grid-item_8";
    }

    .grid-item_1 {
        grid-area: grid-item_1;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .grid-item_2 {
        grid-area: grid-item_2;
        text-align: center;
    }

    .grid-item_7 {
        grid-area: grid-item_7;
        text-align: start;
    }

    .grid-item_8 {
        grid-area: grid-item_8;
        padding: 0px 50px;
    }

    footer {
        width: 100vw;
        display: block;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #2e86d39e 45%);
        margin-top: 5vh;
    }

    footer h2 {
        display: block;
        color: rgb(255, 255, 255);
        border: solid black black none black 2px;
        background-color: rgba(35, 129, 206, 0);
        text-align: center;
    }

    footer h3 {
        margin-bottom: 1vh;
    }

    footer p {
        text-align: center;
    }

    .flex-container {
        display: flex;
        width: 100vw;
        padding-left: 1%;

    }

    .flex-item__web {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
    }

    .flex-item__contact {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin-top: 1vh;
        margin-right: 1vw;
        text-align: end;
        width: 30vw;
    }

    .flex-item__icono {
        display: block;
        width: 40vw;
    }

    .flex-item__icono img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }


    .flex-item__redes {
        width: fit-content;
        margin-bottom: 1vh
    }

    footer p {
        text-align: center;
        padding-bottom: 1vh;
    }
}



/* VISTA 375*/



@media screen and (max-width: 375px) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: rgb(221, 223, 225);
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        scrollbar-width: 100vw;
    }
    header {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
        color: white;
    }

    header img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .icono-suelo {
        width: 15vw;
        height: 20vh;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    /*
    .header nav{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-column-gap: 5px;
        grid-template-rows: repeat(1,50px);
        background-color: rgb(226, 178, 6);
        column-gap: 2vw;
        border: solid rgba(2, 2, 2, 0.9);
        justify-content: center;
        padding: 2vh;
        padding: 2vw;
        grid-template-areas: "nav-header__nosotros nav-header__ubicacion nav-header__contacto nav-header__cuenta";
    }
    .nav-header__nosotros{
        display: flex;
        font-size: small;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__nosotros;
    }
    .nav-header__ubicacion{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__ubicacion;
    }
    .nav-header__contacto{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__contacto;
    }
    .nav-header__cuenta{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__cuenta;
    }
    header div{
        display: flex;
    }
    .nav-header a{
        display: flex;
    }
    */

    .grid-item div {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(3, fr);
        grid-template-areas:
            "grid-item grid-item__aside"
            "grid-item ."
            "grid-item ."
    }

    .grid-item {
        grid-area: grid-item;
    }

    .grid-item__articulo h5 {

        font-size: 1rem;
        font-weight: bolder;
    }

    .grid-item__articulo p {
        font-size: 0.8rem;
    }

    .grid-item__articulo {
        width: 30vw;
    }

    .grid-item .grid-item__articulo img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 25vh;
    }

    img .card-img-top {
        width: 500v;
    }

    .grid-item__aside {
        display: flexbox;
        grid-area: grid-item__aside;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        border-color: #3a86ff;
        padding-bottom: 2vh;
        margin-right: 1vw;
        ;
    }

    main img {
        height: 100vh;
        ;
    }

    main {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        margin-top: 1%;
        justify-content: space-around;
        padding: 2vw;
        text-align: center;
        font-style: normal;
        font-size: 1.5rem;
    }

    main li {
        list-style: none;
    }

    main .card-title {
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    main h4 {
        font-size: 2rem;
        color: rgb(0, 0, 0);
        padding-bottom: 1vh;
        border: 4px solid black;
        background-color: rgb(255, 255, 255)
    }

    div main h4:hover {
        background-color: rgb(0, 0, 0);
        color: white;
    }


    aside h3 {
        font-size: 0.8rem;
        font-weight: bolder;
        padding: 1vw;
    }

    aside h4 {
        font-size: 0.8rem;
    }

    aside h5 {
        font-size: 0.8rem;
    }

    aside li {
        display: block;
        margin: 5px;
        text-align: start;
        padding-left: 0.1vw;
        justify-items: start;
        font-size: 0.6rem;
    }

    li {
        font-size: 0.7rem;
    }

    aside ul {
        text-align: start;
        margin-left: 0.2vw;
    }

    aside button .btn.btn-secondary {
        font-size: 0.2rem;
    }

    aside p {
        padding-top: 2vh;
    }

    .form-contact-compra {
        font-size: 1rem;
    }

    .titulo-pag {
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }


    #location {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }


    fieldset label {
        display: block;
        width: 25vw;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-left: 1vw;
    }

    fieldset textarea {
        margin-left: 2vw;
    }

    fieldset input {
        margin-left: 2vw;
    }

    .flex-item__contacto {
        width: 30vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    div .boton {
        display: block;
        justify-content: center;
        margin: auto;
    }

    .carrito__compra {
        display: grid;
        justify-content: flex-start;
        width: 40%;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    .grid-container__nosotros {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 90px 500px repeat(2, 100px);
        grid-template-areas:
            "grid-item_1 grid-item_1 grid-item_1 grid-item_1"
            "grid-item_2 grid-item_2 grid-item_2 grid-item_2"
            "grid-item_7 grid-item_7 grid-item_7 grid-item_7"
            "grid-item_8 grid-item_8 grid-item_8 grid-item_8";
    }

    .grid-item_1 {
        grid-area: grid-item_1;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .grid-item_2 {
        grid-area: grid-item_2;
        text-align: center;
    }

    .grid-item_7 {
        grid-area: grid-item_7;
        text-align: start;
    }

    .grid-item_8 {
        grid-area: grid-item_8;
        padding: 0px 50px;
    }

    footer {
        width: 100vw;
        display: block;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #2e86d39e 45%);
        margin-top: 5vh;
    }

    footer h2 {
        display: block;
        color: rgb(255, 255, 255);
        border: solid black black none black 2px;
        background-color: rgba(35, 129, 206, 0);
        text-align: center;
    }

    footer h3 {
        margin-bottom: 1vh;
        font-size: 0.9rem;
    }



    .flex-container {
        display: flex;
        width: 100vw;
        padding-left: 1%;

    }

    .flex-item__web {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
    }

    .flex-item__contact {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin-top: 1vh;
        margin-right: 1vw;
        text-align: end;
        width: 30vw;
    }

    .flex-item__icono {
        display: block;
        width: 40vw;
    }

    .flex-item__icono img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }


    .flex-item__redes {
        width: fit-content;
        margin-bottom: 1vh
    }

    footer p {
        text-align: center;
        padding-bottom: 1vh;
        font-size: 0.6rem;
    }
}



/*VISTA 320X*/



@media screen and (max-width: 320px) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        background-color: rgb(221, 223, 225);
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        scrollbar-width: 100vw;
    }
    header {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 71%, rgba(255, 247, 85, 1) 100%);
        color: white;
    }

    header img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .icono-suelo {
        width: 15vw;
        height: 20vh;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    /*
    .header nav{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-column-gap: 5px;
        grid-template-rows: repeat(1,50px);
        background-color: rgb(226, 178, 6);
        column-gap: 2vw;
        border: solid rgba(2, 2, 2, 0.9);
        justify-content: center;
        padding: 2vh;
        padding: 2vw;
        grid-template-areas: "nav-header__nosotros nav-header__ubicacion nav-header__contacto nav-header__cuenta";
    }
    .nav-header__nosotros{
        display: flex;
        font-size: small;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__nosotros;
    }
    .nav-header__ubicacion{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__ubicacion;
    }
    .nav-header__contacto{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__contacto;
    }
    .nav-header__cuenta{
        display: flex;
        font-weight: bolder;
        align-items: center;
        grid-area: nav-header__cuenta;
    }
    header div{
        display: flex;
    }
    .nav-header a{
        display: flex;
    }
    */

    .grid-item div {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: repeat(3, fr);
        grid-template-areas:
            "grid-item grid-item__aside"
            "grid-item ."
            "grid-item ."
    }

    .grid-item {
        grid-area: grid-item;
    }

    .grid-item__articulo h5 {

        font-size: 1rem;
        font-weight: bolder;
    }

    .grid-item__articulo p {
        font-size: 0.8rem;
    }

    .grid-item__articulo {
        width: 30vw;
    }

    .grid-item .grid-item__articulo img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 25vh;
    }

    img .card-img-top {
        width: 500v;
    }

    .grid-item__aside {
        display: flexbox;
        grid-area: grid-item__aside;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 10px;
        border-color: #3a86ff;
        padding-bottom: 2vh;
        margin-right: 1vw;
        ;
    }

    main img {
        height: 100vh;
    }

    main .card-title {
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    main {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
        margin-top: 1%;
        justify-content: space-around;
        padding: 2vw;
        text-align: center;
        font-style: normal;
        font-size: 1.5rem;
    }

    main li {
        list-style: none;
    }

    main h4 {
        font-size: 1rem;
        color: rgb(0, 0, 0);
        padding-bottom: 1vh;
        border: 4px solid black;
        background-color: rgb(255, 255, 255)
    }

    div main h4:hover {
        background-color: rgb(0, 0, 0);
        color: white;
    }


    aside h3 {
        font-size: 0.8rem;
        font-weight: bolder;
        padding: 1vw;
    }

    aside h4 {
        font-size: 0.8rem;
    }

    aside h5 {
        font-size: 0.8rem;
    }

    aside li {
        display: block;
        margin: 5px;
        text-align: start;
        padding-left: 0.1vw;
        justify-items: start;
        font-size: 0.6rem;
    }

    li {
        font-size: 0.7rem;
    }

    aside ul {
        text-align: start;
        font-size: 0.5rem;
        margin-left: 0.2vw;
    }

    aside button .btn.btn-secondary {
        font-size: 0.2rem;
    }

    aside p {
        padding-top: 2vh;
    }

    #location {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .form-contact-compra {
        font-size: 1rem;
    }

    .titulo-pag {
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }


    fieldset label {
        display: block;
        width: 25vw;
        padding-bottom: 2px;
        padding-top: 2px;
        margin-left: 1vw;
    }

    fieldset textarea {
        margin-left: 2vw;
    }

    fieldset input {
        margin-left: 2vw;
    }

    .flex-item__contacto {
        width: 30vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    div .boton {
        display: block;
        justify-content: center;
        margin: auto;
    }

    .carrito__compra {
        display: grid;
        justify-content: flex-start;
        width: 40%;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }

    .grid-container__nosotros {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 90px 500px repeat(2, 100px);
        grid-template-areas:
            "grid-item_1 grid-item_1 grid-item_1 grid-item_1"
            "grid-item_2 grid-item_2 grid-item_2 grid-item_2"
            "grid-item_7 grid-item_7 grid-item_7 grid-item_7"
            "grid-item_8 grid-item_8 grid-item_8 grid-item_8";
    }

    .grid-item_1 {
        grid-area: grid-item_1;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .grid-item_2 {
        grid-area: grid-item_2;
        text-align: center;
    }

    .grid-item_7 {
        grid-area: grid-item_7;
        text-align: start;
    }

    .grid-item_8 {
        grid-area: grid-item_8;
        padding: 0px 50px;
    }

    footer {
        width: 100vw;
        display: block;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #2e86d39e 45%);
        margin-top: 5vh;
    }

    footer h2 {
        display: block;
        color: rgb(255, 255, 255);
        border: solid black black none black 2px;
        background-color: rgba(35, 129, 206, 0);
        text-align: center;
    }

    footer h3 {
        margin-bottom: 1vh;
        font-size: 0.9rem;
    }

    footer p {
        text-align: center;
        font-size: 0.6rem;
    }

    .flex-container {
        display: flex;
        width: 100vw;
        padding-left: 1%;

    }

    .flex-item__web {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30vw;
    }

    .flex-item__contact {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin-top: 1vh;
        margin-right: 1vw;
        text-align: end;
        width: 30vw;
    }

    .flex-item__icono {
        display: block;
        width: 40vw;
    }

    .flex-item__icono img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }


    .flex-item__redes {
        width: fit-content;
        margin-bottom: 1vh
    }

    footer p {
        text-align: center;
        padding-bottom: 1vh;
    }
}


a {
    color: black;
    text-decoration: none;
}